html {
    height: 100%;
    overflow: hidden;
}

body {
    background: linear-gradient(to bottom, #ffb3ba, #ffdfba);
}

#flower-container {
    position: absolute;
    top: 150%;
    left: calc(50%);
    animation: moveUp 2s forwards;
    width: 100%;
    height: 100%;
    z-index: 0;
}

@keyframes moveUp {
    from {
        transform: translateY(0); 
    }
    to {
        transform: translateY(-920px);
    }
}

.flower {
    position: absolute;
    height: 50px;
    top: calc(50%);
    left: calc(50%);
    animation: fadeIn 2s ease-in-out forwards;
    opacity: 0;
    z-index: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.petal {
    position: absolute;
    width: 25px;
    height: 40px;
    background: radial-gradient(circle, pink 35%, rgb(235, 131, 148) 70%);
    border-radius: 50%;
    transform-origin: 50% 100%;
    z-index: 0;
}

.petal:nth-child(1) { transform: rotate(0deg); }
.petal:nth-child(2) { transform: rotate(72deg); }
.petal:nth-child(3) { transform: rotate(144deg); }
.petal:nth-child(4) { transform: rotate(216deg); }
.petal:nth-child(5) { transform: rotate(288deg); }

.center {
    position: absolute;
    width: 25px;
    height: 25px;
    background: radial-gradient(circle, rgb(255, 232, 130) 10%, rgb(255, 196, 0));
    border-radius: 50%;
    top: calc(55%);
    z-index: 0;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: moveUpDownContainer 3s 9s forwards;
}

@keyframes moveUpDownContainer {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(-1200px);
    }
}

@media only screen and (max-width: 768px) {
    #flower-container {
        top: 160%;
        left: calc(48%);
     }

    .petal {
        width: 16px;
        height: 26px;
    }

    .center {
        width: 16px;
        height: 16px;
        top: calc(36%);
    }
}